xmpp.host=10.66.1.139
xmpp.port=5347
xmpp.secretkey=tellnoone

server.domain=profiles.example.com

jdbc.proxool.alias=profileserver
jdbc.proxool.driver-url=jdbc:postgresql://127.0.0.1:5432/profileserver
jdbc.proxool.driver-class=org.postgresql.Driver
jdbc.user=profileserveruser
jdbc.password=tellnoone
jdbc.proxool.maximum-connection-count=10
jdbc.proxool.house-keeping-test-sql=select CURRENT_DATE

database.logging.spy = true